<% layout('./layouts/boilerplate') -%>

<div class="row">
  <div class="col-8 offset-2">
    <form
      action="/campground/<%=campground._id%>?_method=PUT"
      method="post"
      class="d-inline needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please Enter the name of the place.</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please Enter a location for the place.
        </div>
      </div>
      <label class="form-label" for="price">price</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input
          class="form-control"
          type="text"
          id="price"
          name="campground[price]"
          value="<%= campground.price %>"
          aria-label="Amount (to the nearest dollar)"
          required
        />
        <span class="input-group-text">.00</span>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please Enter how much the place cost per night.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="img">img</label>
        <input
          class="form-control"
          type="text"
          id="img"
          name="campground[img]"
          value="<%= campground.img %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please Enter an img that descrip the place.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">description</label>
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          rows="3"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please Enter some details about the place.
        </div>
      </div>
      <button class="btn btn-info" type="submit">Update</button>
    </form>
    <form
      class="d-inline"
      action="/campground/<%= campground._id %>?_method=DELETE"
      method="post"
    >
      <button class="btn btn-danger">Delete</button>
    </form>
    <a href="/" class="btn btn-primary">Cancel</a>
  </div>
</div>
